@import './themes.scss';

.Home {
    &-Banner {
        height: 70vh;

        &::before {
            content: '';
            background-image: url(../images/HomeBanner.png);
            width: 100%;
            height: 70vh;
            position: absolute;
            z-index: -1000;
            filter: brightness(0.25);
        }

        & * {
            left: 40px;
        }

        color: $RubyPlex-White;

        &__Welcome {
            position: absolute;
            font-size: 15pt;
            top: 6em;

            @include respond-to("s-mobile") {
                font-size: 11pt;
                top: 6em;
            }

            @include respond-to("l-mobile") {
                font-size: 12pt;
            }

            @include respond-to("tablet") {
                font-size: 13pt;
                top: 5em;
            }

            @include respond-to("laptop") {
                font-size: 14pt;
            }
        }

        &__Description {
            position: absolute;
            top: 5em;
            font-weight: 500;

            @include respond-to("s-mobile") {
                max-width: 100%;
                font-size: 15pt;
                top: 6em;
            }

            @include respond-to("l-mobile") {
                max-width: 100%;
                font-size: 16pt;
                top: 6em;
            }

            @include respond-to("tablet") {
                font-size: 18pt;
                top: 5em;
            }

            @include respond-to("laptop") {
                font-size: 23pt;
                max-width: 75vw;
                top: 4em;
            }
        }

        &__Buttons {
            position: relative;
            left: 0px;
            top: 18em;

            @include respond-to("s-mobile") {
                top: 15em;
            }

            @include respond-to("m-mobile") {
                top: 13em;
            }

            @include respond-to("l-mobile") {
                top: 14em;
            }

            @include respond-to("laptop") {
                top: 16em;
            }
        }
    }

    & .SeriesCardCarousel {
        height: 300px;
    }

    &-LatestMovie {
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 2em;
        height: 500px;
        background: $RubyPlex-DarkBlue;

        &__Title {
            margin: 0;
            font-size: 20pt;
            font-weight: bold;
            letter-spacing: 2px;
            color: $RubyPlex-White;
            padding: 1em;
        }

        &__Carousel {
            width: 100%;
            justify-content: center;
            align-items: center;
            user-select: none;
            padding-bottom: 2em;

            >ul {
                width: 100%;
                gap: 2em;
            }
        }
    }
}


.FlipCard {
    border-radius: 1rem;
    width: 190px;
    height: 320px;
    perspective: 1000px;
    cursor: pointer;

    &-Inner {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: $RubyPlex-White;
        border-radius: 1rem;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    &:hover &-Inner {
        transform: rotateY(180deg);
    }

    &-Front {
        &-Content {
            position: relative;
            height: 100%;

            &__Img {
                width: 100%;
                height: 100%;
                border-radius: 1rem;
            }

            &__Title {
                position: absolute;
                width: 100%;
                height: 3em;
                bottom: 0;
                margin: 0;
                font-size: 15px;
                font-weight: bold;
                color: $RubyPlex-White;
                text-align: center;
                text-transform: uppercase;
                background-color: $RubyPlex-DarkRed-Transparent;
                border-bottom-left-radius: 1em;
                border-bottom-right-radius: 1em;
            }
        }
    }

    &-Back {
        position: relative;

        &__Title {
            color: $RubyPlex-White;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
            text-transform: uppercase;
        }

        &__Img {
            position: absolute;
            border-radius: 1rem;
            width: 101%;
            height: 101%;
            z-index: -1000;
            filter: brightness(0.2);
        }

        &__Description {
            color: $RubyPlex-White;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
        }

        transform: rotateY(180deg);
    }

    &-Front,
    &-Back {
        box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 1rem;
    }
}

@keyframes swipe {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.SerieCard {
    position: relative;
    width: 275px;
    height: 100%;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.55);
    cursor: pointer;
    transition: all .3s;

    &__Img {
        width: 275px;
        height: 100%;
    }

    &:hover {
        transform: scale(0.9);
    }

    &__Title {
        position: absolute;
        bottom: 0;
        color: $RubyPlex-White;
        font-size: 14pt;
        padding: 0.5em;
        text-overflow: ellipsis;
        max-width: 275px;
        &:hover {
            visibility: visible;
        }
    }
}