@import './themes.scss';

.SerieVideo {
    display: flex;
    justify-content: center;
    padding: 4em 0;
    background-color: $RubyPlex-VeryDarkBlue;
    gap: 0.5em;

    &-Episodes {
        display: flex;
        flex-direction: column;
        width: 25%;
        background-color: $RubyPlex-DarkBlue;
        color: $RubyPlex-White;
        overflow: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

        &__Title {
            padding: 1em;
            font-size: 14pt;
            background: linear-gradient(135deg, #650000ba, #8b0000a1, #1e1e2b91, #11111491);
            font-weight: bold;
            margin: 0;
        }

        &__Btn {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 0 1em;
            height: 50px;

            &:hover {
                background-color: $RubyPlex-LightBlue;
            }

            &.active {
                background-color: $RubyPlex-LightBlue;
            }

            &-EpNumber {
                margin: 0;
                font-weight: bold;
                font-size: 12pt;
            }

            &-EpName {
                font-size: 11pt;
            }
        }
    }

    &-Video {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        width: 70%;

        &>div:nth-child(1) {
            display: flex;
            justify-content: center
        }

        & video {
            width: 100%;
            height: 500px;
            background-color: $RubyPlex-Black;
            border-radius: 10px;
        }

        &__Description {
            color: $RubyPlex-White;
            background: $RubyPlex-DarkBlue;
            color: $RubyPlex-White;
            padding: 0.75em;
            border-radius: 0.25rem;
            border-radius: 10px;
            font-family: 'Arial', sans-serif;
            color: #f1f1f1;
            line-height: 1.6;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

            & div {
                margin-bottom: 10px;
            }

            & .info {
                font-size: 1.2rem;
                font-weight: bold;
                color: #cccccc;

                &-name {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: #ffffff;
                }
            }

            & .season {
                font-size: 1.2rem;
                color: #aaaaaa;
            }

            & .description {
                font-size: 1rem;
                color: #888888;
                font-style: italic;
            }
        }

        &_WatchMore {
            padding: 0.75em;
            color: $RubyPlex-White;

            &__Seasons {
                display: flex;
                gap: 2em;
            }
        }
    }
}