@import './mixin.scss';
@import './header.scss';
@import './home.scss';
@import './show.scss';
@import './serieVideo.scss';
@import './footer.scss';
@import './search.scss';

@font-face {
  font-family: 'Signika';
  src: url('../fonts/Signika_Negative/SignikaNegative-VariableFont_wght.ttf') format('truetype');
  /* Add additional font properties if needed */
}

.App {
  position: relative;
}

html {
  scroll-behavior: smooth;
  background-color: $RubyPlex-VeryDarkBlue;
}
p, div, h1, h2, h3, h4{
  font-family: 'Signika';
}
a {
  text-decoration: none;
  color: white;
}

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

.white{
  color: $RubyPlex-White;
}