@import './header.scss';
@import './home.scss';
@import './show.scss';
@import './serieVideo.scss';
@import './footer.scss';

.App {
  position: relative;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: white;
}